In [62]:
1. Load the following sample dataset into a PySpark DataFrame:

SyntaxError: invalid syntax (745705800.py, line 1)

In [ ]:
# from pyspark.sql import SparkSession

# # Initialize Spark session
# spark = SparkSession.builder.appName("SalesData").getOrCreate()

In [1]:
%pip install pandas numpy

import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\battu\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\battu\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\battu\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\battu\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\battu\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\battu\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
data = [ (1, "Laptop", 10, 50000, "North", "2025-01-01"), (2,
"Mobile", None, 15000, "South", None), (3, "Tablet", 20, None, "West",
"2025-01-03"), (4, "Desktop", 15, 30000, None, "2025-01-04"), (5,
None, None, None, "East", "2025-01-05") ]
columns = ["Sales_ID", "Product", "Quantity", "Price", "Region",
"Sales_Date"]


df = pd.DataFrame(data, columns=["Sales_ID","Product","Quantity","Price","Region","Sales_date"])
print(df)

   Sales_ID  Product  Quantity    Price Region  Sales_date
0         1   Laptop      10.0  50000.0  North  2025-01-01
1         2   Mobile       NaN  15000.0  South        None
2         3   Tablet      20.0      NaN   West  2025-01-03
3         4  Desktop      15.0  30000.0   None  2025-01-04
4         5     None       NaN      NaN   East  2025-01-05

In [3]:
import sqlite3


# Create SQLite in-memory database

In [4]:
conn=sqlite3.connect(":memory:")


# load dataframe into sqlite as a table

In [5]:
df.to_sql("sales_tbl",conn, index=False, if_exists="replace")

5

In [6]:
query="SELECT* FROM sales_tbl"
df_sql=pd.read_sql(query,conn)
print(df_sql)

   Sales_ID  Product  Quantity    Price Region  Sales_date
0         1   Laptop      10.0  50000.0  North  2025-01-01
1         2   Mobile       NaN  15000.0  South        None
2         3   Tablet      20.0      NaN   West  2025-01-03
3         4  Desktop      15.0  30000.0   None  2025-01-04
4         5     None       NaN      NaN   East  2025-01-05

In [9]:
# replace null value in qty with 0
df_filled= df.fillna({"Quantity":0}) 
print(df_filled)

   Sales_ID  Product  Quantity    Price Region  Sales_date
0         1   Laptop      10.0  50000.0  North  2025-01-01
1         2   Mobile       0.0  15000.0  South        None
2         3   Tablet      20.0      NaN   West  2025-01-03
3         4  Desktop      15.0  30000.0   None  2025-01-04
4         5     None       0.0      NaN   East  2025-01-05

In [8]:
# replace null Quanity with 0 using when-otherwise
df["Quantity"]=df["Quantity"].fillna(0)
print(df)

   Sales_ID  Product  Quantity    Price Region  Sales_date
0         1   Laptop      10.0  50000.0  North  2025-01-01
1         2   Mobile       0.0  15000.0  South        None
2         3   Tablet      20.0      NaN   West  2025-01-03
3         4  Desktop      15.0  30000.0   None  2025-01-04
4         5     None       0.0      NaN   East  2025-01-05

In [11]:
df["Price"]=df["Price"].fillna(0)
print(df)

   Sales_ID  Product  Quantity    Price Region  Sales_date
0         1   Laptop      10.0  50000.0  North  2025-01-01
1         2   Mobile       0.0  15000.0  South        None
2         3   Tablet      20.0      0.0   West  2025-01-03
3         4  Desktop      15.0  30000.0   None  2025-01-04
4         5     None       0.0      0.0   East  2025-01-05

In [13]:
# replace null values in Price with average column
# df['Price'].fillna(Price, inplace=True)
average = df['Price'].mean()
print(average)

19000.0