ðð®ðžð¬ð­ð¢ð¨ð§:
 
You are working as a Data Engineer for a company. The sales team has provided
you with a dataset containing sales information. However, the data has some missing values
that need to be addressed before processing. You are required to perform the following tasks:

1. Loaded the sample dataset into a Pandas Dataframe
2. Performed the below steps 

Transformations performed on the below requirements:

a. Replace all NULL values in the Quantity column with 0.
b. Replace all NULL values in the Price column with the average price of the existing data.
c. Drop rows where the Product column is NULL.
d. Fill missing Sales_Date with a default value of '2023-03-02'.
e. Drop rows where all columns are NULL.


In addition to above requirements I performed some additional transformations to show the data to the users.

In [1]:
# Install the required packages
%pip install pandas numpy

import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\battu\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\battu\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\battu\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\battu\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\battu\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\battu\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# Load the data into a DataFrame
data = [ (1, "Laptop", 10, 50000, "North", "2025-01-01"), (2,
"Mobile", None, 15000, "South", None), (3, "Tablet", 20, None, "West",
"2025-01-03"), (4, "Desktop", 15, 30000, None, "2025-01-04"), (5,
None, None, None, "East", "2025-01-05") ]
columns = ["Sales_ID", "Product", "Quantity", "Price", "Region",
"Sales_Date"]

# Create a DataFrame

df = pd.DataFrame(data, columns=["Sales_ID","Product","Quantity","Price","Region","Sales_date"])
print(df)

   Sales_ID  Product  Quantity    Price Region  Sales_date
0         1   Laptop      10.0  50000.0  North  2025-01-01
1         2   Mobile       NaN  15000.0  South        None
2         3   Tablet      20.0      NaN   West  2025-01-03
3         4  Desktop      15.0  30000.0   None  2025-01-04
4         5     None       NaN      NaN   East  2025-01-05

In [3]:
# Save the DataFrame to a SQLite database
import sqlite3


# Create SQLite in-memory database

In [4]:
# Create a connection to the database
conn=sqlite3.connect(":memory:")


# load dataframe into sqlite as a table

In [5]:
# Save the DataFrame to the database
df.to_sql("sales_tbl",conn, index=False, if_exists="replace")

5

In [6]:
# Read the data from the database
query="SELECT* FROM sales_tbl"
df_sql=pd.read_sql(query,conn)
print(df_sql)

   Sales_ID  Product  Quantity    Price Region  Sales_date
0         1   Laptop      10.0  50000.0  North  2025-01-01
1         2   Mobile       NaN  15000.0  South        None
2         3   Tablet      20.0      NaN   West  2025-01-03
3         4  Desktop      15.0  30000.0   None  2025-01-04
4         5     None       NaN      NaN   East  2025-01-05

In [7]:
# replace null value in qty with 0
df_filled= df.fillna({"Quantity":0}) 
print(df_filled)

   Sales_ID  Product  Quantity    Price Region  Sales_date
0         1   Laptop      10.0  50000.0  North  2025-01-01
1         2   Mobile       0.0  15000.0  South        None
2         3   Tablet      20.0      NaN   West  2025-01-03
3         4  Desktop      15.0  30000.0   None  2025-01-04
4         5     None       0.0      NaN   East  2025-01-05

In [8]:
# replace null Quanity with 0 using when-otherwise
df["Quantity"]=df["Quantity"].fillna(0)
print(df)

   Sales_ID  Product  Quantity    Price Region  Sales_date
0         1   Laptop      10.0  50000.0  North  2025-01-01
1         2   Mobile       0.0  15000.0  South        None
2         3   Tablet      20.0      NaN   West  2025-01-03
3         4  Desktop      15.0  30000.0   None  2025-01-04
4         5     None       0.0      NaN   East  2025-01-05

In [9]:
# Calculate the average price
average = df['Price'].mean()
print(average)

31666.666666666668

In [10]:
# replace null values in Price with average column with using pandas
df['Price'].fillna(average, inplace=True)
print(df)

   Sales_ID  Product  Quantity         Price Region  Sales_date
0         1   Laptop      10.0  50000.000000  North  2025-01-01
1         2   Mobile       0.0  15000.000000  South        None
2         3   Tablet      20.0  31666.666667   West  2025-01-03
3         4  Desktop      15.0  30000.000000   None  2025-01-04
4         5     None       0.0  31666.666667   East  2025-01-05

C:\Users\battu\AppData\Local\Temp\ipykernel_15212\3986829372.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(average, inplace=True)

In [11]:
# Replace 0 values in 'Price' with 19000
df['Price'].replace(0, 19000, inplace=True)

# Display the updated DataFrame
print(df)

   Sales_ID  Product  Quantity         Price Region  Sales_date
0         1   Laptop      10.0  50000.000000  North  2025-01-01
1         2   Mobile       0.0  15000.000000  South        None
2         3   Tablet      20.0  31666.666667   West  2025-01-03
3         4  Desktop      15.0  30000.000000   None  2025-01-04
4         5     None       0.0  31666.666667   East  2025-01-05

C:\Users\battu\AppData\Local\Temp\ipykernel_15212\1123923092.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].replace(0, 19000, inplace=True)

In [12]:
# Replace null values in price column with average value
df['Price'] = df['Price'].apply(lambda x: average if pd.isnull(x) else x)
print(df)

   Sales_ID  Product  Quantity         Price Region  Sales_date
0         1   Laptop      10.0  50000.000000  North  2025-01-01
1         2   Mobile       0.0  15000.000000  South        None
2         3   Tablet      20.0  31666.666667   West  2025-01-03
3         4  Desktop      15.0  30000.000000   None  2025-01-04
4         5     None       0.0  31666.666667   East  2025-01-05

In [13]:
# print first 5 rows
print(df.head())

   Sales_ID  Product  Quantity         Price Region  Sales_date
0         1   Laptop      10.0  50000.000000  North  2025-01-01
1         2   Mobile       0.0  15000.000000  South        None
2         3   Tablet      20.0  31666.666667   West  2025-01-03
3         4  Desktop      15.0  30000.000000   None  2025-01-04
4         5     None       0.0  31666.666667   East  2025-01-05

In [14]:
# print last 2 rows
print(df.tail(2))

   Sales_ID  Product  Quantity         Price Region  Sales_date
3         4  Desktop      15.0  30000.000000   None  2025-01-04
4         5     None       0.0  31666.666667   East  2025-01-05

In [15]:
# print last 5 rows
print(df.tail())

   Sales_ID  Product  Quantity         Price Region  Sales_date
0         1   Laptop      10.0  50000.000000  North  2025-01-01
1         2   Mobile       0.0  15000.000000  South        None
2         3   Tablet      20.0  31666.666667   West  2025-01-03
3         4  Desktop      15.0  30000.000000   None  2025-01-04
4         5     None       0.0  31666.666667   East  2025-01-05

In [16]:
# drop rows where all columns are null
df = df[df["Product"].notna()]
print(df)

   Sales_ID  Product  Quantity         Price Region  Sales_date
0         1   Laptop      10.0  50000.000000  North  2025-01-01
1         2   Mobile       0.0  15000.000000  South        None
2         3   Tablet      20.0  31666.666667   West  2025-01-03
3         4  Desktop      15.0  30000.000000   None  2025-01-04

In [17]:
# Ensure that the 'Sales_date' column is in datetime format
df['Sales_date'] = pd.to_datetime(df['Sales_date'], errors='coerce')  # Ensure correct date format

# Fill missing values with a default date (e.g., 2023-03-02)
df['Sales_date'] = df['Sales_date'].fillna(pd.to_datetime('2023-03-02'))  # Filling missing values with a default date

# Print the DataFrame to check the result
print(df)

   Sales_ID  Product  Quantity         Price Region Sales_date
0         1   Laptop      10.0  50000.000000  North 2025-01-01
1         2   Mobile       0.0  15000.000000  South 2023-03-02
2         3   Tablet      20.0  31666.666667   West 2025-01-03
3         4  Desktop      15.0  30000.000000   None 2025-01-04

In [18]:
# fill quantity value which is zero with value 5
df['Quantity'] = df['Quantity'].replace(0, 5)
print(df)

   Sales_ID  Product  Quantity         Price Region Sales_date
0         1   Laptop      10.0  50000.000000  North 2025-01-01
1         2   Mobile       5.0  15000.000000  South 2023-03-02
2         3   Tablet      20.0  31666.666667   West 2025-01-03
3         4  Desktop      15.0  30000.000000   None 2025-01-04

In [19]:
# fill value of quantity with 5 to 6
df['Quantity'] = df['Quantity'].replace(5, 6)
print(df)

   Sales_ID  Product  Quantity         Price Region Sales_date
0         1   Laptop      10.0  50000.000000  North 2025-01-01
1         2   Mobile       6.0  15000.000000  South 2023-03-02
2         3   Tablet      20.0  31666.666667   West 2025-01-03
3         4  Desktop      15.0  30000.000000   None 2025-01-04

In [20]:
df["Quantity"].fillna(0)

0    10.0
1     6.0
2    20.0
3    15.0
Name: Quantity, dtype: float64

In [21]:
df["Price"].fillna(df["Price"].mean())

0    50000.000000
1    15000.000000
2    31666.666667
3    30000.000000
Name: Price, dtype: float64

In [22]:
# drop row where Product column is null
df.dropna(subset=["Product"])

   Sales_ID  Product  Quantity         Price Region Sales_date
0         1   Laptop      10.0  50000.000000  North 2025-01-01
1         2   Mobile       6.0  15000.000000  South 2023-03-02
2         3   Tablet      20.0  31666.666667   West 2025-01-03
3         4  Desktop      15.0  30000.000000   None 2025-01-04

In [23]:
# drop rows where all columns are null in pandas
df.dropna(how="all")

   Sales_ID  Product  Quantity         Price Region Sales_date
0         1   Laptop      10.0  50000.000000  North 2025-01-01
1         2   Mobile       6.0  15000.000000  South 2023-03-02
2         3   Tablet      20.0  31666.666667   West 2025-01-03
3         4  Desktop      15.0  30000.000000   None 2025-01-04